---
import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import { getAllPosts, getAllProjects, sortMDByDate } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";
const MAX_POSTS = 5;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
const allProjects = await getAllProjects();

---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">Robert C Edwards | 0xHashbrown</h1>
		<p class="mb-4">
			Robert C. Edwards is a multifaceted professional with extensive experience in web3 development, entrepreneurship, and content creation. A versatile technologist and innovator, Robert is known for his work in blockchain technology, decentralized applications, and digital media. He leverages his expertise to create and manage impactful projects that blend cutting-edge technology with creative community engagement.
		</p>
		<SocialList />
	</section>

	<section aria-label="Project list" class="mt-8">
		<h2 class="title mb-4 text-xl">Projects</h2>
		<ul class="space-y-4">
			{
				allProjects.slice(0, MAX_POSTS).map((project) => (
					<li class="grid gap-2 sm:grid-cols-[auto_1fr] sm:[&_q]:col-start-2">
						<PostPreview post={project} />
					</li>
				))
			}
		</ul>
	</section>

	<section aria-label="Blog post list" class="mt-8">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4">
			{
				allPostsByDate.map((p) => (
					<li class="grid gap-2 sm:grid-cols-[auto_1fr] sm:[&_q]:col-start-2">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>

</PageLayout>